@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import './mobile/index.css';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F4F4F4;
  color: black;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

/* Container por big screens */
.container {
  max-width: 1450px;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  width: 100vw;
  padding: 10px 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 99 !important;
  transition: linear 300ms;
}
.navbar .nav-left {
  font-family: 'Pacifico', cursive;
}
.navbar .nav-left .logo {
  text-decoration: none;
  font-weight: bold;
}
.navbar .nav-right .nav-link {
  flex: 1;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  padding: 10px 15px;
  margin: 0 10px;
  transition: linear 200ms;
}
.navbar .nav-right .nav-link:hover {
  transform: scale(1.05);
}
.navbar .nav-right .active {
  text-decoration: underline;
}

/* Seaction Title */
.section-title {
  text-align: center;
}
.section-title::after {
  content: "";
  display: block;
  border-bottom: 4px solid #4C86A8;
  margin: 0 auto;
}

/* Main Button */
.main-button {
  padding: 10px 15px;
  border-radius: 5px;
  background: rgb(221,76,76);
  background: linear-gradient(90deg, rgba(221,76,76,1) 0%, rgba(215,38,61,1) 100%); 
  color: #DADADA;
  border: none;
}
.main-button:hover {
  box-shadow: -5px 5px 5px #0000003f;
}

/* transparent button */
.transparent-button {
  background-color: transparent;
  border: none;
}

/* Card containers */
.card {
  background-color: #DADADA;
  box-shadow: 0 0 20px #9c9c9c;
  flex: 1;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 20px;
}
