.Resume {
  padding: 40px 10vw;
  display: flex;
}
.Resume .important-info {
  flex: 1;
  text-align: center;
}
.Resume .important-info .personal-info {
  margin-top: 20px;
}
.Resume .important-info .personal-info .data {
  display: flex;
  align-items: center;
}
.Resume .important-info .personal-info .data p {
  margin: 5px 0 5px 10px;
}
.Resume .important-info .extra-info .info-container {
  display: flex;
  flex-wrap: wrap;
}
.Resume .important-info .extra-info .info-container .item {
  flex: 1 0 50%;
  text-align: left;
  margin: 5px 0;
}
.Resume .important-info .extra-info p {
  margin: 3px 0;
}
.Resume .important-info button {
  margin: 5px auto;
}

.Resume .info {
  flex: 3;
  margin-left: 5vw;
  text-align: justify;
}
.Resume .header {
  display: flex;
  align-items: center;
}
.Resume .header h2 {
  margin-left: 20px;
}
.Resume .info .section .section-element {
  margin: 10px 0;
}
.Resume .info .section .section-element .right-text {
  float: right;
}
