@media screen and (max-width: 800px) {
  .navbar .nav-left .logo {
    font-size: 35px;
  }
  .navbar .nav-right {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform linear 300ms;
    background-color: #171A25;
  }
  .navbar .nav-right .nav-contact {
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: 100px;
  }
  .navbar .nav-right .nav-contact a svg {
    font-size: 30px;
    color: white;
  }
  .navbar .nav-menu svg {
    font-size: 35px;
  }

  .section-title {
    font-size: 50px;
    margin: 25px 0;
  }
  .section-title::after {
    width: 15%;
  }
}

@media screen and (min-width: 800px) {
  .navbar .nav-left .logo {
    font-size: 50px;
  }
  .navbar .nav-right {
    display: flex;
  }
  .navbar .nav-right .nav-contact {
    display: none;
  }
  .navbar .nav-menu {
    display: none;
  }

  .section-title {
    font-size: 55px;
  }
  .section-title::after {
    width: 6%;
  }
}